{# FORMULAIRE D'ENREGISTREMENT D'UNE SOCIETE #}


    <div class="row">
        <div class="col-12">
            <div class="row">
                <fieldset class="form-fieldset">
                    <legend>Identification sociétés</legend>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="row">
                                <div class="col-md-12 col-xl-12">
                                    <div class="form-group row mb-3 mt-3">
                                        <label class="col-md-3 col-form-label required">
                                            Date début:
                                        </label>
                                        <div class="col-md-7">
                                            {{ form_widget(form.Annee_debut_activ, {'attr': {'readonly': true}}) }}
                                        </div>
                                    </div>

                                    <div class="form-group row mb-3 mt-3">
                                        <label class="col-md-3 col-form-label required">
                                            Nom:
                                        </label>
                                        <div class="col-md-7">
                                            {{ form_widget(form.CompanyName, {'attr': {'readonly': true}}) }}
                                        </div>
                                    </div>

                                    <div class="form-group row mb-3 mt-3">
                                        <label class="col-md-3 col-form-label required" title="inscrire la forme de votre entreprise (Entreprise individuel, Sarl, SA, autres)">
                                            Forme:
                                        </label>
                                        <div class="col-md-7">
                                            {{ form_widget(form.Forme) }}
                                        </div>
                                    </div>

                                    <div class="form-group row mb-3 mt-3">
                                        <label class="col-md-3 col-form-label required">
                                            Activités:
                                        </label>
                                        <div class="col-md-7">
                                            {{ form_widget(form.Activities) }}
                                        </div>
                                    </div>

                                    <div class="form-group row mb-3 mt-3">
                                        <label class="col-md-3 col-form-label required" title="Prénom du gérant où de la gérante">
                                            Gérant:
                                        </label>
                                        <div class="col-md-7">
                                            {{ form_widget(form.Gerant) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="form-fieldset">
                    <legend>Immatriculation sociétés</legend>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="row">
                                <div class="col-md-12 col-xl-12">
                                    <div class="form-group row mb-3 mt-3">
                                        <label class="col-md-3 col-form-label required">
                                            N° Registre CC:
                                        </label>
                                        <div class="col-md-7">
                                            {{ form_widget(form.Numero_RCC, {'attr': {'readonly': true}}) }}
                                        </div>
                                    </div>

                                    <div class="form-group row mb-3 mt-3">
                                        <label class="col-md-3 col-form-label required">
                                            N° Compte C:
                                        </label>
                                        <div class="col-md-7">
                                            {{ form_widget(form.Numero_CC, {'attr': {'readonly': true}}) }}
                                        </div>
                                    </div>

                                    <div class="form-group row mb-3 mt-3">
                                        <label class="col-md-3 col-form-label required">
                                            Capital social :
                                        </label>
                                        <div class="col-md-7">
                                            {{ form_widget(form.Capital_social) }}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="form-fieldset">
                    <legend>Coordonnée société</legend>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="row">
                                <div class="col-md-12 col-xl-12">
                                    <div class="form-group row mb-3 mt-3">
                                        <label class="col-md-3 col-form-label required">
                                            N° Telephone:
                                        </label>
                                        <div class="col-md-7">
                                            {{ form_widget(form.Telephone) }}
                                        </div>
                                    </div>

                                    <div class="form-group row mb-3 mt-3">
                                        <label class="col-md-3 col-form-label required">
                                            Adresse:
                                        </label>
                                        <div class="col-md-7">
                                            {{ form_widget(form.Adresse) }}
                                        </div>
                                    </div>

                                    <div class="form-group row mb-3 mt-3">
                                        <label class="col-md-3 col-form-label required">
                                            Siege social:
                                        </label>
                                        <div class="col-md-7">
                                            {{ form_widget(form.Siege_social) }}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

<div class="divide-x"></div>

<!-- Pied de page de notre formulaire -->
<div class="card-footer mt-2">
    <button class="btn btn-warning float-end ms-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
            <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
        </svg>
        {{ button_label|default('Modifier')}}
    </button>
    <a href="{{ path('app_company_index') }}" class="btn btn-azure  float-end">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1"></path>
        </svg>
        Retour
    </a>
</div>
