{% extends 'base.html.twig' %}

{% block title %}Détail - Company{% endblock %}

{% block body %}

        <div class="row row-cards mb-3 mt-3">
            <div class="col-12">
                <div class="card  bg-light border rounded-3">
                    <div class="card-header mb-3 bg-facebook" style="border-bottom: 3px solid yellow;">
                        <h2 class="page-title text-break">Détail sociétés</h2>
                    </div>
                    <!-- corps de notre vue -->
                    <div class="table-responsive">
                        <table class="table table-vcenter card-table" style="text-align: -moz-left;">
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ company.id }}</td>
                            </tr>
                            <tr>
                                <th>Nom  société </th>
                                <td>{{ company.CompanyName }}</td>
                            </tr>
                            <tr>
                                <th>Forme</th>
                                <td>{{ company.Forme }}</td>
                            </tr>
                            <tr>
                                <th>Activités</th>
                                <td>{{ company.Activities }}</td>
                            </tr>
                            <tr>
                                <th>Numéro  registre Commercial et C</th>
                                <td>{{ company.NumeroRCC }}</td>
                            </tr>
                            <tr>
                                <th>Numéro  Compte Contribuable</th>
                                <td>{{ company.NumeroCC }}</td>
                            </tr>
                            <tr>
                                <th>Telephone</th>
                                <td>{{ company.Telephone }}</td>
                            </tr>
                            <tr>
                                <th>Adresse</th>
                                <td>{{ company.Adresse }}</td>
                            </tr>
                            <tr>
                                <th>Siege social</th>
                                <td>{{ company.SiegeSocial }}</td>
                            </tr>
                            <tr>
                                <th>Capital social</th>
                                <td>{{ company.CapitalSocial }}</td>
                            </tr>
                            <tr>
                                <th>Gérant</th>
                                <td>{{ company.Gerant }}</td>
                            </tr>
                            <tr>
                                <th>Année  début d'activité</th>
                                <td>{{ company.AnneeDebutActiv ? company.AnneeDebutActiv|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>CreatedAt</th>
                                <td>{{ company.createdAt ? company.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>UpdatedAt</th>
                                <td>{{ company.updatedAt ? company.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Pied de page de notre vue -->
                    <div class="card-footer">
                        <a class="btn btn-warning float-end ms-2" href="{{ path('app_company_edit', {'id': company.id}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                            </svg>
                            Modifier
                        </a>
                        <a href="{{ path('app_company_index') }}" class="btn btn-azure  float-end">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1"></path>
                            </svg>
                            Retour
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {# {{ include('company/_partials/_delete_form.html.twig') }} #}
{% endblock %}
