{% extends 'base.html.twig' %}

{% block title %}UserType{% endblock %}

{% block body %}
    <h1>UserType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_type.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ user_type.code }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ user_type.description }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ user_type.createdAt ? user_type.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ user_type.updatedAt ? user_type.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_type_index') }}">back to list</a>

    <a href="{{ path('app_user_type_edit', {'id': user_type.id}) }}">edit</a>

    {{ include('user_type/_delete_form.html.twig') }}
{% endblock %}
